.animation-rotation
  &-1
    animation: rotate 10s linear infinite
    position: absolute
    top: 31%
    right: 13%
  &-2
    animation: rotate 5s linear infinite reverse
    position: absolute
    top: 74%
    right: 15%
  &-3
    animation: rotate 7s linear infinite
    position: absolute
    top: 85%
    right: 25%
  &-4
    animation: rotate 12s linear infinite
    position: absolute
    top: 20%
    right: 65%
  &-5
    animation: rotate 12s linear infinite reverse
    position: absolute
    top: 10%
    right: 70%

@keyframes rotate
  0%
    transform: rotate(0deg)
    
  100%
    transform: rotate(360deg)

@media screen and (max-width: 767px)
  figure > img
    max-width: 350px
      margin: 1rem auto;

.banner-interno__fondo
    background-position: top !important

.banner-principal__img
  width: 400px !important        

// COLORES CORTOS
.cac
  color: $color-acento-contenido !important

.cab
  color: $color-acento-botones !important

.cp
  color: $color-primario !important

.cs
  color: $color-secundario !important

.cst
  color: $color-sistema-texto !important
  font-size: 9px

.cts
  background-color: #BDDCF6 !important
  

.ctc1
  background-color: rgba(77, 208, 225, .35) !important

.ctc2
  background-color: rgba(77, 208, 225, .15) !important

.recuadroid
  position: relative
  &::before
    content: ''
    width: 50%
    height: 35%
    background-color: rgba(19, 138, 248, .1)
    bottom: 0
    right: 0
    display: block
    position: absolute
    mix-blend-mode: multiply

//TEMA 1
.tarjeta--azul1
  background-color: $color-primario

.acordion__activo
  background-color: #FFF7DE !important

.acordion__accion__btn--a
  background-color: $color-acento-botones

.img-infografica__item
    opacity: 1 !important
    transform: scale(1.4)
    
//TEMA 2
.linea-tiempo-d__item--selected
  .linea-tiempo-d__item__content__title
    background-color: rgba(77, 208, 225, .25)
    border-radius: 5px 5px 0 0
.linea-tiempo-d__item__content__slot
  background-color: rgba(77, 208, 225, .25)
  border-radius: 0 0 5px 5px
.linea-tiempo-d.color-acento-contenido .linea-tiempo-d__item--selected .linea-tiempo-d__item__number
  background-color: rgba(77, 208, 225, .25) !important

.tabs-a__tab
  background-color: #E8E8E8

.tarjeta.color-primario.p-4
  background-color: rgba(19, 138, 248, .15)

.cft2
  background-color: #C4E4FF !important

.img2-7
  background-image: url('../assets/curso/temas/tema2/img2-7.svg') !important
  background-size: cover

//TEMA 3
.tarjeta--azul
  background-color: rgba(189, 220, 246, .15)

.slyder-a__bullets__item--active
  background-color: $color-secundario !important
  border-color: $color-secundario

.slyder-a__bullets__item
  background-color: rgba(15, 39, 113, .35)

.recuadroid3
  position: relative
  &::before
    content: ''
    width: 35%
    height: 25%
    background-color: rgba(77, 208, 225, .15)
    top: 20%
    bottom: 0
    right: 0
    display: block
    position: absolute
    mix-blend-mode: multiply

.tarjeta--curuba
  background-color: #FFF7DE

.bloque-texto-1
  background-color: #F3F9FF
  &:before
    background-color: #BDDCF6

.bloque-texto-izq
  .bloque-texto-a:before
    left: 0  !important
    right: 50% !important

.bloque-texto-a__texto
  width: 110%

//TEMA 4
.img4-5
  &::before
    background-image: url('../assets/curso/temas/tema4/img4-5.png')
    background-size: cover
    background-position: center center

.bloque-texto-a.color-primario.p-4.p-md-5.mb-5.img4-5
  background-color: #BDDCF6

.tarjeta--ltc
  background-color: rgba(254, 202, 46, .06)

//TEMA 6  
.col-sm-6.col-lg-4.col-xl.tabs-c__tab.py-3.tabs-c__tab--active
  font-weight: bold

//// TAPS-A //////////import css-variables from 

.tabs-a__tab
  width: 120%
  @media (max-width: 500px)
    width: 100%

.tarjeta.color-primario.p-4 
  left: 4%
  position: relative
  @media (max-width: 500px)
    left: 0%
  
.tabs-a__tab
  padding: 5px 10px